:root {
  /* Primary colors */
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);

  /* Neutral colors */
  --grayish-blue: hsl(233, 8%, 35%);
  --light-grayish-blue: hsl(220, 16%, 85%);
  --very-light-gray: hsl(0, 0%, 94%);
  --white: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input,
textarea,
button,
select {
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3 {
  color: var(--dark-blue);
}

h2 {
  margin-bottom: 0.5em;
  text-align: center;
}

h3 {
  margin-bottom: 0.5em;
}

p {
  color: var(--grayish-blue);
  font-size: 1.1rem;
}

body {
  font-family: "Public Sans", sans-serif;
}

.border-red {
  outline: 2px solid red;
}

nav {
  height: 3em;
}

/* nav p {
  display: inline-block;
  margin: 1em 0;
} */

nav > img {
  display: inline-block;
  /* margin: 0.5em 0.625em; */
}

.esb-logo {
  height: 2em;
  margin: 0.5em 0.7em;
}

.open-menu-btn {
  float: right;
  height: 1em;
  margin: 1em 0.7em 0;
}

.nav-links {
  display: flex;
  justify-content: center;
}

.nav-links ul {
  background-color: white;
  border: 2px solid var(--dark-blue);
  border-radius: 0.5em;
  display: inline-block;
  list-style-type: none;
  margin-top: 2em;
  text-align: center;
  width: 80%;
  z-index: 100;
}

.nav-links ul li a {
  text-decoration: none;
  color: var(--dark-blue);
  margin: 1em 0;
  background-color: white;
}

.hidden-menu {
  visibility: hidden;
}

#home-div {
  height: 80vh;
  /* background-color: red; */
  background-image: url(../images/hero-section/laptop-desk-medium.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* outline: 2px solid black; */
  width: 100%;
}

#home-div > .container {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.home-content {
  /* outline: 2px solid green; */
  padding: 0 1em;
  text-align: center;
}

.home-icons > img {
  height: 2.5em;
  margin: 1em 0.2em;
  display: inline;
}

/* Let container for desktop version only */
/* .container {
  max-width: 60rem;
  margin: 0 auto;
} */

#about-div {
  text-align: center;
  background-color: white;
  padding: 1em 1em;
}

.skills-div {
  margin-top: 3em;
}
.webdev-skills {
  display: flex;
  flex-grow: row;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-item > img {
  height: 4em;
  padding: 0 1em;
}

.skill-item > p {
  font-size: 1rem;
  padding-bottom: 1em;
}

#projects-div {
  background-color: var(--light-grayish-blue);
  padding: 1em;
}

.project-card {
  background-color: var(--very-light-gray);
  border-radius: 0.5em;
  overflow: hidden;
}

.project-description {
  padding: 1em;
}

.btn-project {
  display: inline-block;
  margin-top: 0.5em;
  background: rgb(49, 211, 92);
  background: linear-gradient(90deg, rgba(49, 211, 92, 1) 0%, rgba(43, 183, 218, 1) 100%);
  color: var(--dark-blue);
  color: var(--white);
  padding: 0.6em 1em;
  border-radius: 0.6em;
  text-decoration: none;
}

#contact-div {
  background-color: var(--dark-blue);
  text-align: center;
  padding: 1em;
}

#contact-div > h3 {
  color: white;
  font-size: 1.1em;
}

.contact-icons > a {
  color: white;
  font-size: 2em;
  margin: 0 0.1em;
}

footer {
  background-color: var(--dark-blue);
  text-align: center;
  padding-bottom: 1em;
}

footer p {
  color: var(--light-grayish-blue);
  font-size: 0.8em;
}
