:root {
  /* Primary colors */
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);

  /* Neutral colors */
  --grayish-blue: hsl(233, 8%, 35%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input,
textarea,
button,
select {
  font: inherit;
}

/* img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
} */

h1,
h2,
h3 {
  color: var(--dark-blue);
}

p {
  color: var(--grayish-blue);
  font-size: 1.2rem;
}

body {
  font-family: "Public Sans", sans-serif;
}

.border-red {
  outline: 2px solid red;
}

#home-div {
  height: 80vh;
  /* background-color: red; */
  background-image: url(../images/hero-section/laptop-desk-medium.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* outline: 2px solid black; */
  width: 100%;
}

#home-div > .container {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.home-content {
  /* outline: 2px solid green; */
  padding: 0 1em;
  text-align: center;
}

.home-icons > img {
  height: 2.5em;
  margin: 1em 0.2em;
}

/* Let container for desktop version only */
/* .container {
  max-width: 60rem;
  margin: 0 auto;
} */

#about-div {
  text-align: center;
  background-color: white;
  padding: 1em 3em;
}

.webdev-skills {
  display: flex;
  flex-grow: row;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-item > img {
  height: 5em;
}

.skill-item > p {
  font-size: 1rem;
}
